.container
  .theme-select-form
    = form_tag display_theme_path, method: :post do
      .select-wrapper
        = select_tag :theme_id, 
          options_from_collection_for_select(Theme.all, :id, :name),
          prompt: 'Выберите тему'
        = submit_tag 'Показать', class: 'load-theme-button'

  - if @theme && @image
    = hidden_field_tag :theme_id, @theme.id, id: 'theme_id'
    = hidden_field_tag :current_index, @image.id, id: 'current_index'

    .image-card
      = image_tag @image.file_url, class: 'main-image'

      .navigation-buttons
        %button.btn.btn-prev ←
        %button.btn.btn-next →
      
      .rating-controls
        .slider-container
          %input.rating-slider{
            type: "range",
            min: "1",
            max: "10",
            value: "1",
            step: "1"
          }
          .slider-labels
            - (1..10).each do |num|
              %span= num
        
        = button_tag 'Оценить', class: 'rate-button'

      .image-caption= @image.name
  - else
    .alert Выберите тему из списка выше