!!! 5
%html
  %head
    %title= content_for(:title) || "My App"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "mobile-web-web-app-capable", content: "yes"}
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag "favicon.ico"

    = yield :head

    -# %link{rel: "icon", href: "/icon.png", type: "image/png"}
    -# %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    -# %link{rel: "apple-touch-icon", href: "/icon.png"}

    = stylesheet_link_tag 'application', media: 'all'
    %script{src: "https://code.jquery.com/jquery-3.6.0.min.js", integrity: "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=", crossorigin: "anonymous"}
    = javascript_include_tag 'application'

  %body
    = yield